@model IEnumerable<RR.ViewModels.RestaurantViewModel>

@{
    ViewBag.Title = "AllRestaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Restaurants</h2>

<div class="row mb-3">
    <div class="col">
        @using (@Html.BeginForm("AllRestaurants", "Restaurant", FormMethod.Post))
        {
            @Html.DropDownList("searchBy", new List<SelectListItem>
            {
                new SelectListItem{Text = "Name", Value = "Name"},
                new SelectListItem{Text = "City", Value = "City"},
                new SelectListItem{Text = "State", Value = "State"},
                new SelectListItem{Text = "Rating", Value = "Rating"}
            })

            <input type="submit" class="btn btn-light" value="Submit"/>
        }
    </div>
    <div class="col text-right">
        @Html.ActionLink("Add Restaurant", "AddRestaurant", "Restaurant", null, new { @class="btn btn-light"})
    </div>
</div>

<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th>Name</th>
        <th>Average Rating</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Phone Number</th>
        <th>Website</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.AverageRating</td>
                <td>@i.Street</td>
                <td>@i.City</td>
                <td>@i.State</td>
                <td>@i.ZipCode</td>
                <td>@i.PhoneNumber</td>
                <td>@i.Website</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            }
    </tbody>
</table>

